# Ignore local node_modules and builds
node_modules
dist
npm-debug.log

# Ignore local env and secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore version control systems and configurations
.git
.gitignore

# Ignore Docker configuration files themselves
Dockerfile
.dockerignore
docker-test.sh
